.top{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top:0px;
    display: flex;
    align-items: center;
    font-family:'josefin Sans',sans-serif;
    margin-top: 10px;
    z-index: 999;
    
}
.top-left, .top-right{
 flex:3;
 display: flex;
 align-items: center;
 justify-content: center;
}
.top-center{
 flex: 6;
}
.top-right{
    cursor: pointer;
}

.topIcon{
    margin-right: 10px;
}
.topLeftIcon{
 margin: 10px;
 color: #1a120e;
 cursor: pointer;
}
.topLeftIcon:hover{
    color: rgb(255, 101, 25);
}
.topLeftIcon::after{
 color: rgb(31, 28, 1);

}
.topList{
    display:flex;
    list-style: none;
    justify-content: space-evenly;

}
.topImg{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    
}
.topSearchIcon{
  
}