.top{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top:0px;
    display: flex;
    align-items: center;
    font-family:'josefin Sans',sans-serif;
    
}
.top-left{
 flex:3;
}
.top-center{
 flex: 6;
}
.top-right{
 flex: 3;
}