.post{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin:0px 25px 40px 25px

}
.post > img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px; 
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postCategories{
    display: flex;
    margin-top: 15px;
    color: rgb(45, 45, 45);
    font-size: 10px;
    font-family: 'Josefin', sans-serif;
}
.postcat{
    margin: 0px 5px;
    
}
.postTitle{
    margin-top: 18px;
    font-size: 25px; 
    font-family: "Varela", sans-serif;
    font-weight: bold;  
    font-display: wrap;
    cursor: pointer;
}
.postDate{
    font-size:10px;
    font-family: 'josefin', sans-serif;
    margin-top: 18px;
}
.postDescription{
    margin-top: 18px;
    font-size: 15px;
    font-family: "lora", sans-serif;
    line-height:25px;
}

